In [7]:
import pandas as pd

import seaborn as sns

import numpy as np

In [8]:
import seaborn as sns
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.loc[2:5,'sepal_width' : 'petal_width']

   sepal_width  petal_length  petal_width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2
5          3.9           1.7          0.4

In [10]:
df.iloc[2:5, [1,3]] #2~4행, 1열,3열 만 보기

   sepal_width  petal_width
2          3.2          0.2
3          3.1          0.2
4          3.6          0.2

In [11]:
df.loc[df['sepal_length'] > 5 , ['species']].head() #행, 열

   species
0   setosa
5   setosa
10  setosa
14  setosa
15  setosa

In [12]:
df.shape

(150, 5)

In [13]:
df["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [14]:
df["species"].nunique() #중복되지 않는 값들이 총 몇 개 인지

3

In [15]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
df.describe(include = "all")

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [17]:
df['petal_width'].sum()

179.90000000000003

In [18]:
df['petal_width'].count()

150

In [19]:
df['petal_width'].median()

1.3

In [20]:
df['petal_width'].mean()

1.1993333333333336

In [22]:
def sum_five(x):
    x += 5
    return x

In [23]:
print(sum_five(3))

8

In [24]:
def smp(x):
    x = x[-3:] 
    return x

In [25]:
df['species-3'] = df['species']

In [26]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species species-3
0           5.1          3.5           1.4          0.2  setosa    setosa
1           4.9          3.0           1.4          0.2  setosa    setosa
2           4.7          3.2           1.3          0.2  setosa    setosa
3           4.6          3.1           1.5          0.2  setosa    setosa
4           5.0          3.6           1.4          0.2  setosa    setosa

In [27]:
df['species-3'] = df['species'].apply(smp)

In [28]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species species-3
0           5.1          3.5           1.4          0.2  setosa       osa
1           4.9          3.0           1.4          0.2  setosa       osa
2           4.7          3.2           1.3          0.2  setosa       osa
3           4.6          3.1           1.5          0.2  setosa       osa
4           5.0          3.6           1.4          0.2  setosa       osa

In [ ]:
df['species-3'] = df['species'].apply(lamda x : x[-3:])